.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.env.*
*.env
*.env.*
*.pem
*.key
*.pfx
*.cer
*.crt
*.csr
*.der
*.jwk
*.jwt
*.token
*.secrets
*.credentials
local.settings.json

